<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <title>Historical Snapshots | Portfolio App</title>
</head>
<body>
    <div class="headerBar" id="headerBar">
        <div class="maxHolder">
            <div class='dropdown menu' id='userMenu'></div>
            <h1 class="center sectionTitle">Historical</h1>
            <div class="refresh button"></div>
        </div>
    </div>
    <div class="container full">
        <div class="inner hide">
            <div id="assetList" class="grid ten box table">
                <div id="date" class="col">
                    <div class="minorLightText miniTitle">Date</div>
                </div>

                <div id="portfolioValue" class="col">
                    <div class="minorLightText miniTitle">Value</div>
                </div>

                <div id="portfolioGain" class="col">
                    <div class="minorLightText miniTitle">Gain</div>
                </div>

                <div id="portfolioGrowth" class="col">
                    <div class="minorLightText miniTitle">Grth</div>
                </div>

                <div id="cryptoValue" class="col">
                    <div class="minorLightText miniTitle">Crypto Val</div>
                </div>

                <div id="cryptoGain" class="col">
                    <div class="minorLightText miniTitle">Crypto Gain</div>
                </div>

                <div id="cryptoGrowth" class="col">
                    <div class="minorLightText miniTitle">Crypto Grth</div>
                </div>

                <div id="stockValue" class="col">
                    <div class="minorLightText miniTitle">Stock Val</div>
                </div>

                <div id="stockGain" class="col">
                    <div class="minorLightText miniTitle">Stock Gain</div>
                </div>

                <div id="stockGrowth" class="col">
                    <div class="minorLightText miniTitle">Stock Grth</div>
                </div>
            </div>
            <div class="addNew button"><a>Save</a></div>
        </div>
    </div>
    <nav class="">
        <div class="grid four maxHolder">
            <a class="button" href="/overview"><div>Overview</div></a>
            <a class="button" href="/portfolio"><div>Portfolio</div></a>
            <a class="button" href="/stats"><div>Stats</div></a>
            <a class="button active" href="/historical"><div>Historical</div></a>
        </div>
    </nav>
    <script type="text/javascript">
        let initUser = (u) => {
            let costBasis, marketValue, totalGrowth, totalGain, todayPercent, todayGain;
            let assets = {};
            let id = 0;

            {{#each asset}}          
                document.querySelector('#date').innerHTML += `<div class='cell'>{{{date}}}</div>`;  
                document.querySelector('#portfolioValue').innerHTML += `<div class='cell'>$${parseFloat({{portfolioValue}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;  
                document.querySelector('#portfolioGain').innerHTML += `<div class='cell'>$${parseFloat({{portfolioGains}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;  
                document.querySelector('#portfolioGrowth').innerHTML += `<div class='cell'>${parseFloat({{portfolioGrowth}}).toFixed(2)}%</div>`;  
                document.querySelector('#cryptoValue').innerHTML += `<div class='cell'>$${parseFloat({{cryptoValue}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;  
                document.querySelector('#cryptoGain').innerHTML += `<div class='cell'>$${parseFloat({{cryptoGains}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;  
                document.querySelector('#cryptoGrowth').innerHTML += `<div class='cell'>${parseFloat({{cryptoGrowth}}).toFixed(2)-1}%</div>`;  
                document.querySelector('#stockValue').innerHTML += `<div class='cell'>$${parseFloat({{stockValue}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;  
                document.querySelector('#stockGain').innerHTML += `<div class='cell'>$${parseFloat({{stockGains}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;  
                document.querySelector('#stockGrowth').innerHTML += `<div class='cell'>${parseFloat({{stockGrowth}}).toFixed(2)}%</div>`;  
            {{/each}}
            console.log('ready to show')
            document.querySelector('.inner').classList.remove('hide')
        }
    </script>
    <script src="js/app.js"></script>
    <script src="js/historical.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17373319-21"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());gtag('config', 'UA-17373319-21');
    </script>
</body>
</html>
