<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="theme.css">
    <title>Overview | Portfolio App</title>
</head>
<body>
    <div class="headerBar" id="headerBar">
        <div class='dropdown menu' id='userMenu'></div>
        <h1 class="center sectionTitle">Overview</h1>
        <div class="refresh button"></div>
    </div>
    <div class="container flushSide">
        <div class="inner hide">
            <div class="minorLightText miniTitle center">Portfolio</div>
            <div class="center title" id="mainTitle"></div>
            <div class="subtitle center minorLightText" id="mainSub"></div>
            <div id="lowerPanel">
                <div id="percentHolder">
                    <div id="percentBar">
                        <div id="percentCrypto" class="minorDark bar"></div>
                        <div id="percentStocks" class="minorLight bar"></div>
                    </div>
                    <div id="percentText" class="minorLightText">
                        <div id="cryptoPercent" class="textLeft left"></div><div id="stockPercent" class="textRight right"></div>
                    </div>
                </div>
                <div id="assetBreakdown" class="padTop">
                    <div id="stockBox" class="right rightText">
                        <div class="minorLightText">Stock</div>
                        <div id="stockTotal" class="highlight subtitle"></div>
                    <div class="minorLightText" id="stockSub"></div>
                    </div>
                    <div id="cryptoBox" class="">
                        <div class="minorLightText">Crypto</div>
                        <div id="cryptoTotal" class="highlight subtitle"></div>
                        <div class="minorLightText" id="cryptoSub"></div>
                    </div> 
                </div>
            </div>
            <div id="chart" class="box table col">
                <div class="minorLightText miniTitle center">Portfolio Value Over Time</div>
                <div id="overviewChartHolder">
                    <canvas id="valueCanvas" style="width: 100%;height: 500px;" width="100%"></canvas>
                </div>
                
            </div>
        </div>
    </div>
    <nav class="grid four">
        <a class="button active" href="/overview"><div>Overview</div></a>
        <a class="button" href="/portfolio"><div>Portfolio</div></a>
        <a class="button" href="/stats"><div>Stats</div></a>
        <a class="button" href="/historical"><div>Historical</div></a>
    </nav>
    <script src="js/app.js"></script>
    <script>
        let initUser = (u) => {
            console.log(u)
            console.log({{totalValue.portfolioValue}});
            // percentBar + text
            let cryptoVal = `${parseFloat(({{totalValue.cryptoValue}}/{{totalValue.portfolioValue}}))*100}`;
            let stockVal = `${parseFloat(({{totalValue.stockValue}}/{{totalValue.portfolioValue}}))*100}`;
            document.querySelector('#percentCrypto').setAttribute(`style`, `width:${cryptoVal}%`);
            document.querySelector('#percentStocks').setAttribute(`style`, `width:${stockVal}%`);
            document.querySelector('#cryptoPercent').innerHTML = `${Math.round(parseFloat(cryptoVal))}%`;
            document.querySelector('#stockPercent').innerHTML = `${Math.round(parseFloat(stockVal))}%`;

            // portfolio total
            document.querySelector('#mainTitle').innerHTML = `$${parseFloat({{totalValue.portfolioValue}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}`;
            document.querySelector('#mainSub').innerHTML = `<span class=''>(</span>$${parseFloat({{totalValue.portfolioGains}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')} <span class=''>/</span> ${parseFloat({{totalValue.portfolioGrowth}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}%<span class=''>)</span>`;

            // crypto total
            document.querySelector('#cryptoTotal').innerHTML = `$${parseFloat({{totalValue.cryptoValue}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}`;
            document.querySelector('#cryptoSub').innerHTML = `<span class=''>(</span>$${parseFloat({{totalValue.cryptoGains}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')} <span class=''>/</span> ${parseFloat({{totalValue.cryptoGrowth}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}%<span class=''>)</span>`;

            // stock total
            document.querySelector('#stockTotal').innerHTML = `$${parseFloat({{totalValue.stockValue}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}`;
            document.querySelector('#stockSub').innerHTML = `<span class=''>(</span>$${parseFloat({{totalValue.stockGains}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')} <span class=''>/</span> ${parseFloat({{totalValue.stockGrowth}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}%<span class=''>)</span>`;
            document.querySelector('.inner').classList.remove('hide')

            // chart data
            let snapHolder = JSON.parse(`{{{snapshots}}}`);
            console.log('I found chartpoints',chartPoints);
            console.log('this should be a snapshot',typeof(snapHolder),snapHolder)
            console.log('snap inside spot 0',snapHolder[0]);
            for (e in snapHolder[0]) {
                chartPoints.push([snapHolder[0][e].date,snapHolder[0][e].portfolioValue,snapHolder[0][e].portfolioGrowth])
            }
            console.log('chart data, yall',chartPoints);
            chartPoints.forEach(item => {
                //document.querySelector('#chartHolder').innerHTML += `<div class='row'>${item}</div>`;
            })
            // this really needs to beinside chart.js
            
            runValueCanvas();
        }
    </script>
    <script src="js/Chart.min.js"></script>
    <script src="js/chart.js"></script>
</body>
</html>
