<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <title>All Assets | Portfolio App</title>
</head>
<body>
    <div class="headerBar" id="headerBar">
        <div class="maxHolder">
            <div class='dropdown menu' id='userMenu'></div>
            <h1 class="center sectionTitle">Portfolio</h1>
            <div class="refresh button"></div>
        </div>
    </div>
    <div class="container full">
        <div class="inner hide">
            <div id="assetList" class="grid ten box table">
                <div id="symbol" class="col block">
                    <div class="minorLightText miniTitle">Symbol</div>
                </div>

                <div id="price" class="col">
                    <div class="minorLightText miniTitle">Price <span class="small">($)</span></div>
                </div>

                <div id="pricePaid" class="col">
                    <div class="minorLightText miniTitle">Paid<span class="small">($)</span></div>
                </div>

                <div id="quantity" class="col">
                    <div class="minorLightText miniTitle">Qnty</div>
                </div>

                <div id="cost" class="col">
                    <div class="minorLightText miniTitle">Cost <span class="small">($)</span></div>
                </div>

                <div id="value" class="col">
                    <div class="minorLightText miniTitle">Value <span class="small">($)</span></div>
                </div>

                <div id="growth" class="col">
                    <div class="minorLightText miniTitle">Grth <span class="small">(%)</span></div>
                </div>

                <div id="gain" class="col">
                    <div class="minorLightText miniTitle">Gain <span class="small">($)</span></div>
                </div>

                <div id="todayPercent" class="col">
                    <div class="minorLightText miniTitle">24hr <span class="small">(%)</span></div>
                </div>

                <div id="todayDollar" class="col">
                    <div class="minorLightText miniTitle">24hr <span class="small">($)</span></div>
                </div>
            </div>
        </div>
        <div class="addNew button"><a>Add New</a></div>
    </div>
    <nav class="">
        <div class="grid four maxHolder">
            <a class="button" href="/overview"><div>Overview</div></a>
            <a class="button active" href="/portfolio"><div>Portfolio</div></a>
            <a class="button" href="/stats"><div>Stats</div></a>
            <a class="button" href="/historical"><div>Historical</div></a>
        </div>
    </nav>
    <script type="text/javascript">
            let initUser = (u) => {
                let costBasis, marketValue, totalGrowth, totalGain, todayPercent, todayGain;
                let assets = {};
                let i = 0;
                {{#each asset}}
                    assets[i] = {
                        costBasis : `${parseFloat({{{quantity}}} * {{{purchasePrice}}})}`,
                        marketValue : `${parseFloat({{{quantity}}} * {{{price}}})}`,
                        todayPercent : `${parseFloat({{{priceChangePercent}}})}`,
                        todayGain : `${parseFloat({{{priceChange}}})}`
                    }
                    assets[i].totalGrowth = `${((assets[i].marketValue/assets[i].costBasis)-1)*100}`;
                    assets[i].totalGain = `${assets[i].marketValue - assets[i].costBasis}`;
                    console.log('while asset',assets[i])

                    // new school
                    document.querySelector('#symbol').innerHTML += `<div class='cell {{{id}}}'><span class='edit button'></span><span class='symbol'>{{{symbol}}}</span></div>`;
                    document.querySelector('#price').innerHTML += `<div class='cell'>${parseFloat({{price}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}<div>`;
                    document.querySelector('#pricePaid').innerHTML += `<div class='cell'>${{{purchasePrice}}}</div>`;
                    document.querySelector('#quantity').innerHTML += `<div class='cell'>{{{quantity}}}</div>`;
                    document.querySelector('#cost').innerHTML += `<div class='cell'>${parseFloat(assets[i].costBasis).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;
                    document.querySelector('#value').innerHTML += `<div class='cell'>${parseFloat(assets[i].marketValue).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;
                    document.querySelector('#growth').innerHTML += `<div class='cell'>${(parseFloat(assets[i].totalGrowth)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;
                    document.querySelector('#gain').innerHTML += `<div class='cell'>${parseFloat(assets[i].totalGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`;
                    document.querySelector('#todayPercent').innerHTML += `<div class='cell'>${parseFloat(assets[i].todayPercent)}</div>`;
                    (parseFloat(assets[i].todayGain)>0) ?
                        document.querySelector('#todayDollar').innerHTML += `<div class='cell pos'>${parseFloat(assets[i].todayGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`
                        :
                        document.querySelector('#todayDollar').innerHTML += `<div class='cell neg'>${parseFloat(assets[i].todayGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</div>`
                    ;
                    i++;            
                {{/each}}
                document.querySelector('.inner').classList.remove('hide')
            }
    </script>
    <script src="js/app.js"></script>
    <script src="js/portfolio.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17373319-21"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());gtag('config', 'UA-17373319-21');
    </script>
</body>
</html>