<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <title>Stats</title>
</head>
<body>
    <div class="headerBar">
        <h1 class="center">Stats</h1>
        <div class="refresh button"></div>
    </div>
    <div class="container full">
        <table id="assetList">
            <thead>
                <th>Symbol</th>
                <th>Price</th>
                <th>Price Paid</th>
                <th>Quantity</th>
                <th>Cost Basis</th>
                <th>Market Value</th>
                <th>Total Growth</th>
                <th>Total Gain</th>
                <th>Today %</th>
                <th>Gain 24h</th>
            </thead>
            <tbody></tbody>
        </table>
        <div class="addNew button"><a>Add New</a></div>
    </div>
    <nav>
        <a class="button" href="/overview">Overview</a>
        <a class="button" href="/portfolio">Portfolio</a>
        <a class="button active" href="/stats">Stats</a>
        <a class="button" href="/historical">Historical</a>
    </nav>
    <script src="js/app.js"></script>
    <script type="text/javascript">
                let costBasis, marketValue, totalGrowth, totalGain, todayPercent, todayGain;
                let row = document.querySelector('#assetList tbody');
                let assets = {};
                let id = 0;

                {{#each asset}}
                    assets = {
                        costBasis : `${parseFloat({{{quantity}}} * {{{purchasePrice}}})}`,
                        marketValue : `${parseFloat({{{quantity}}} * {{{price}}})}`,
                        todayPercent : `${parseFloat({{{priceChangePercent}}})}`,
                        todayGain : {{{priceChange}}}
                    };
                    assets.totalGrowth = `${(assets.marketValue/assets.costBasis)*100}`;
                    assets.totalGain = `${assets.marketValue - assets.costBasis}`;

                    row.innerHTML += `<tr>
                        <td class='{{{id}}} symbol'><a>{{{symbol}}}</a><span class='edit button'></span></td>
                        <td>$${parseFloat({{price}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>${{{purchasePrice}}}</td>
                        <td>{{{quantity}}}</td>
                        <td>$${parseFloat(assets.costBasis).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>$${parseFloat(assets.marketValue).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>${parseFloat(assets.totalGrowth).toFixed(2)-1}%</td>
                        <td>$${parseFloat(assets.totalGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>${parseFloat(assets.todayPercent)}%</td>
                        <td>$${parseFloat(assets.todayGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                    </tr>`;                
                {{/each}}
            </script>
</body>
</html>
