<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <title>Stats</title>
</head>
<body>
    <div class="headerBar">
        <h1 class="center">Stats</h1>
        <div class="refresh button"></div>
    </div>
    <div class="container">
        <div id="assetCategories" class="grid three box">
            <div id="portfolioCategory" class="categoryGrid">
                <div class="minorLightText">Portfolio</div>
                <div id="portfolioTotal" class="highlight subtitle"></div>
                <div id="portfolioChange" class="highlight subtitle"></div>
            </div>
            <div id="CryptoCategory" class="categoryGrid">
                <div class="minorLightText">Crypto</div>
                <div id="cryptoTotal" class="highlight subtitle"></div>
                <div id="cryptoChange" class="highlight subtitle"></div>
            </div>
            <div id="StockCategory" class="categoryGrid">
                <div class="minorLightText">Stock</div>
                <div id="stockTotal" class="highlight subtitle"></div>
                <div id="stockChange" class="highlight subtitle"></div>
            </div>
        </div>
        <div id="winners" class="grid four box">
            <div id="dollarWinners">
                <div class="minorLightText">Winners $</div>
                <div id="dollarWinner1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarWinner2">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarWinner3">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarWinner4">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarWinner5">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
            <div id="percentWinners" >
                <div class="minorLightText">Winners %</div>
                <div id="percentWinner1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentWinner2">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentWinner3">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentWinner4">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentWinner5">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
            <div id="dollarLosers">
                <div class="minorLightText">Losers $</div>
                <div id="dollarLoser1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarLoser2">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarLoser3">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarLoser4">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="dollarLoser5">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
            <div id="percentLosers">
                <div class="minorLightText">Losers $</div>
                <div id="percentLoser1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentLoser2">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentLoser3">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentLoser4">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="percentLoser5">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
        </div>

        <div id="change" class="grid four box">
            <div id="changeDollarWinners">
                <div class="minorLightText">24hr $</div>
                <div id="changeDollarWinner1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="changeDollarWinner2">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="changeDollarWinner3">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="changeDollarWinner4">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
                <div id="changeDollarWinner5">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
            <div id="ChangePercentWinners">
                <div class="minorLightText">24hr %</div>
                <div id="changePercentWinner1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
            <div id="changeDollarLosers">
                <div class="minorLightText">24hr $</div>
                <div id="changeDollarLoser1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
            <div id="changePercentLosers">
                <div class="minorLightText">24hr $</div>
                <div id="changePercentLoser1">
                    <span class="symbol">ETH:</span>
                    <span class="value">$500</span>
                </div>
            </div>
        </div>

        <div id="allocation" class="box">
            <div class="minorLightText">Allocation</div>
            <div id="exchangeHolder">
            </div>
            <div id="exchangeChart">
            </div>
        </div>
        <table id="assetList">
            <thead>
                <th>Symbol</th>
                <th>Price</th>
                <th>Price Paid</th>
                <th>Quantity</th>
                <th>Cost Basis</th>
                <th>Market Value</th>
                <th>Total Growth</th>
                <th>Total Gain</th>
                <th>Today %</th>
                <th>Gain 24h</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <nav>
        <a class="button" href="/overview">Overview</a>
        <a class="button" href="/portfolio">Portfolio</a>
        <a class="button active" href="/stats">Stats</a>
        <a class="button" href="/historical">Historical</a>
    </nav>
    {{!-- <script src="js/app.js"></script> --}}
    <script type="text/javascript">
                let costBasis, marketValue, totalGrowth, totalGain, todayPercent, todayGain;
                let row = document.querySelector('#assetList tbody');
                let assets = [];
                let i = 0;
                let holder=[3,2,3]

                {{#each asset}}
                    assets[i] = {
                        symbol: `{{symbol}}`,
                        costBasis : `${parseFloat({{{quantity}}} * {{{purchasePrice}}})}`,
                        marketValue : `${({{{quantity}}} && {{{price}}}) ? parseFloat({{{quantity}}} * {{{price}}}) : 0}`,
                        todayPercent : `${parseFloat({{{priceChangePercent}}})}`,
                        todayGain : `${parseFloat({{{priceChange}}})}`,
                        type: `{{type}}`,
                        exchange: `{{exchange}}`
                    }
                    console.log('today percent',assets[i].todayGain);
                    assets[i].totalGrowth = `${(assets[i].marketValue/assets[i].costBasis)*100}`;
                    assets[i].totalGain = `${assets[i].marketValue - assets[i].costBasis}`;

                    row.innerHTML += `<tr>
                        <td class='{{{id}}} symbol'><a>{{{symbol}}}</a><span class='edit button'></span></td>
                        <td>$${parseFloat({{price}}).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>${{{purchasePrice}}}</td>
                        <td>{{{quantity}}}</td>
                        <td>$${parseFloat(assets[i].costBasis).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>$${parseFloat(assets[i].marketValue).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>${parseFloat(assets[i].totalGrowth).toFixed(2)-1}%</td>
                        <td>$${parseFloat(assets[i].totalGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                        <td>${parseFloat(assets[i].todayPercent)}%</td>
                        <td>$${parseFloat(assets[i].todayGain).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</td>
                    </tr>`;    
                    i++;
                {{/each}}

                let portfolioStats = {
                    crypto:{
                        total: 0,
                        growth:0,
                        gains:0
                    },
                    stock:{
                        total: 0,
                        growth:0,
                        gains:0
                    },
                    total:{
                        total: 0,
                        growth:0,
                        gains:0
                    },
                    exchanges:{},
                    topMovers: {
                        today: {
                            dollarWinners:[{'value':-2000},{'value':-2000},{'value':-2000},{'value':-2000},{'value':-2000}],
                            dollarLosers:[],
                            percentWinners:[],
                            percentLosers:[]
                        },
                        total : {
                            dollarWinners:[],
                            dollarLosers:[],
                            percentWinners:[],
                            percentLosers:[]
                        }
                    }
                }
                let mapPort = assets.map(x => {
                    console.log(x)
                    if (x.type == 'crypto') {
                        portfolioStats.crypto.total += parseFloat(x.marketValue);
                        portfolioStats.crypto.growth += parseFloat(x.totalGrowth);
                        portfolioStats.crypto.gains += parseFloat(x.totalGain);
                    }
                    else if (x.type == 'stock') {
                        portfolioStats.stock.total += parseFloat(x.marketValue);
                        portfolioStats.stock.growth += parseFloat(x.totalGrowth);
                        portfolioStats.stock.gains += parseFloat(x.totalGain);
                    }
                    portfolioStats.total.total += parseFloat(x.marketValue);
                    portfolioStats.total.growth += parseFloat(x.totalGrowth);
                    portfolioStats.total.gains += parseFloat(x.totalGain);

                    portfolioStats.exchanges[x.exchange] ? portfolioStats.exchanges[x.exchange] += parseFloat(x.marketValue) : portfolioStats.exchanges[x.exchange] = parseFloat(x.marketValue);

                    
                    x.todayGain = parseFloat(x.todayGain);
                    console.log('todayGain value',x.todayGain);
                    console.log('todayGain converted type',typeof x.todayGain);

                    if (x.todayGain > portfolioStats.topMovers.today.dollarWinners[0].value) {
                        console.log('x todatGain is greter',x.todayGain);
                        portfolioStats.topMovers.today.dollarWinners[0] = {'symbol':x.symbol,'value':x.todayGain}
                    }
                    else if (x.todayGain > portfolioStats.topMovers.today.dollarWinners[1].value) {
                        console.log('checking second level comparison');
                        portfolioStats.topMovers.today.dollarWinners[1] = {'symbol':x.symbol,'value':x.todayGain}
                    }
                    else if (x.todayGain > portfolioStats.topMovers.today.dollarWinners[2].value) {
                        console.log('comparison3 is '+ x.todayGain +' > '+portfolioStats.topMovers.today.dollarWinners[2].value);
                        portfolioStats.topMovers.today.dollarWinners[2] = {'symbol':x.symbol,'value':x.todayGain}
                    }
                    else if (x.todayGain > portfolioStats.topMovers.today.dollarWinners[3].value) {
                        portfolioStats.topMovers.today.dollarWinners[3] = {'symbol':x.symbol,'value':x.todayGain}
                    }
                    else if (x.todayGain > portfolioStats.topMovers.today.dollarWinners[4].value) {
                        portfolioStats.topMovers.today.dollarWinners[4] = {'symbol':x.symbol,'value':x.todayGain}
                    }
                })

                //portfolio calculations
                document.querySelector('#portfolioTotal').innerHTML = `$${portfolioStats.total.total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}`;
                document.querySelector('#portfolioChange').innerHTML = `<span class='textBlack'>(</span>$${parseFloat(portfolioStats.total.gains).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')} <span class='textBlack'>/</span> ${parseFloat(portfolioStats.total.growth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}%<span class='textBlack'>)</span>`;
                
                //stock calculations
                document.querySelector('#stockTotal').innerHTML = `$${portfolioStats.stock.total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}`;
                document.querySelector('#stockChange').innerHTML = `<span class='textBlack'>(</span>$${parseFloat(portfolioStats.stock.gains).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')} <span class='textBlack'>/</span> ${parseFloat(portfolioStats.stock.growth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}%<span class='textBlack'>)</span>`;

                //crypto calculations
                document.querySelector('#cryptoTotal').innerHTML = `$${portfolioStats.stock.total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}`;
                document.querySelector('#cryptoChange').innerHTML = `<span class='textBlack'>(</span>$${parseFloat(portfolioStats.crypto.gains).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')} <span class='textBlack'>/</span> ${parseFloat(portfolioStats.crypto.growth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}%<span class='textBlack'>)</span>`;

                //exchange allocation
                for (let i in portfolioStats.exchanges) {
                    if (portfolioStats.exchanges[i] > 0) {
                        document.querySelector('#exchangeHolder').innerHTML += `<div class="exchangeRow grid three"><span class="exchange">${i}</span><span>$${portfolioStats.exchanges[i].toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</span><span>${((portfolioStats.exchanges[i] / portfolioStats.total.total)*100).toFixed(2)}%</span></div>`;
                    }
                }

                //daily winners
                for (x in portfolioStats.topMovers) {
                    console.log('processing top movers')
                    for (y in portfolioStats.topMovers[x]) {
                        console.log('top movers x',portfolioStats.topMovers[x])
                        console.log('top movers y value:',y)
                        for (let i=0;i<portfolioStats.topMovers[x][y].length;i++) {
                            console.log(`top mover finalValue`, portfolioStats.topMovers[x][y][i]);
                            console.log(`#changeDollarWinner${i+1}`);
                            document.querySelector(`#changeDollarWinner${i+1}`).innerHTML = 
                            `<div id="changeDollarWinner${i+1}"><span class="symbol">${portfolioStats.topMovers[x][y][i].symbol}:</span><span class="value"> $${portfolioStats.topMovers[x][y][i].value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}</span></div>`
                        }
                    }
                }
                
    </script>
</body>
</html>
